


@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');

* { 
    font-family: "Unbounded", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    

}

.a {
     font-family: "Geist Mono", monospace;
}

.menu-central {


    display: inline-flex;                  /* Coloca a div do logo e do menu lado a lado */
    justify-content: space-between; /* Empurra o logo para a esquerda e o menu para a direita */
    align-items: center;            /* Alinha os textos perfeitamente na mesma altura vertical */
    width: 100%;
    padding: 10px 10px;              /* Espaçamento acima e abaixo do menu */
    box-sizing: border-box;
    
       
}

.button-left {
    margin-left: 0 !important; 
    width: 20px;
    height: 26px;
    border: none;
    color: #00F0FF;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    background: rgb(251, 0, 184);
    cursor: pointer;

   }


#botaox   {
    
  background-color: #ff007f; /* Escurece levemente no hover */
  border-color: #ff007f;
  border: 5px solid #ff007f;
  font-size: bold 18px;
  font-weight: 800;
  border-radius:6px; 
  padding: 0 4px;            /* Espaço interno para o fundo não colar na própria letra */
  margin-right: 12px;        /* Move a letra seguinte para longe, sem estender o fundo */

}

#operations-online {
     
      margin-left: 350px;
      color: #00F0FF;
    

}

.home {
    color: #00F0FF;
}

.open{
  color: #00F0FF;
}
.closed{
  color: #00F0FF;
}

.color-central{
     color: #a3a3a3;
}



.top-buttom {
    
    font-family: "Geist Mono", monospace;
    font-weight: 500;
    margin-left: 0 !important;
    display: inline-block;   
    align-items: center;       /* Alinha os itens verticalmente no meio */
    font-size: 12px;
    letter-spacing: 2px;
    word-spacing: 20px;
    cursor: pointer;
    
    
      
}


.text-central {
     margin-top: 120px; 
     text-align: center; 
     width: 100%;
         
              
}


.revenue { 
    
    font-size: 11px;
    margin-bottom: 16px;
    background-color: #111122; /* Sem fundo */
    color: #00F0FF;                /* Texto rosa/imagenta */
    border: 1px solid #00F0FF; 
    border-radius:2px;        /* Cantos levemente arredondados */
    display: inline;
    align-items: center;
    padding-left: 5px;   /* Espaço na esquerda */
    padding-right: 5px;  /* Espaço na direita */
    padding-top: 5px;  
    padding-bottom: 5px; 
   
   }

h1 {
    font-size: 72px;
    margin: 0;
    display: flex;   /* Ativa o modo Flexbox, organizar, alinhar e distribuir o espaço entre os elementos */ 
    justify-content: center; /* Centraliza na horizontal (esquerda/direita) */
    letter-spacing: 3px;

     
}   

h2 {
    display: inline-block;
    font-weight: 400;
    margin-top: 16px;
    font-size: 18px;
    justify-content: center;
    max-width: 650px;
    max-height: 650px;
     
    
    }

.palavra-azul {
    color: #00F0FF;
}

.palavra-rosa {
color: #ff007f; 
word-spacing: 10px;

}
    

 nav {
    font-family: "Unbounded", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;       /* Espaçamento entre as letras como na imagem */
    text-transform: uppercase; /* Força o texto a ficar em maiúsculo */
    text-decoration: none;
    padding: 16px 32px;        /* Altura e largura interna da caixa */
    border-radius: 4px;        /* Cantos levemente arredondados */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer; 
 

}

.container-botoes {
  display: flex;
  gap: 20px;
  background-color: #05050a; /* Seu fundo preto */
  padding: 40px;
}

/* Base comum para os dois botões (tamanho, fonte e cantos) */
.btn {
  font-family: "Unbounded", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;       /* Espaçamento entre as letras como na imagem */
  text-transform: uppercase; /* Força o texto a ficar em maiúsculo */
  text-decoration: none;
  padding: 16px 32px;        /* Altura e largura interna da caixa */
  border-radius: 4px;        /* Cantos levemente arredondados */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* --- BOTÃO 1: Ciano/Neon (ENTER_THE_ARENA) --- */
.btn-arena {
  background-color: #00f0ff; /* Azul ciano neon */
  color: #000000;            /* Texto preto por dentro */
  border: 2px solid #00f0ff; /* Mantém a borda da mesma cor */
}

.btn-arena:hover {
  background-color: #00c8ff; /* Escurece levemente no hover */
  border-color: #00c8ff;
}

/* --- BOTÃO 2: Apenas Borda Rosa (VIEW_COMPETITIONS) --- */
.btn-competitions {
  background-color: transparent; /* Sem fundo */
  color: #ff007f;                /* Texto rosa/imagenta */
  border: 2px solid #ff007f;     /* Borda rosa fina */
}

.btn-competitions:hover {
  background-color: rgba(255, 0, 127, 0.1); /* Fundo rosa bem transparente no hover */
}

    


/*  Fundo escuro da página --------------------------------------------- */

body {
    font-family: "Courier Prime", monospace;
    background: #05050a;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    padding: 40px; 
}
/*Fundo escuro da página FIM --------------------------------------------*/

/* Janela do terminal */
.terminal-container {
  background-color: #0d0d16;
  border: 1px solid #1a1a2e;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
/* Barra superior do terminal */
.terminal-header {
  background-color: #08080e;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  border-bottom: 1px solid #1a1a2e;
}

/* Três botões coloridos */

.terminal-buttons {
        display: flex;
        gap: 8px;  
}
.circle {
     width: 12px;
     height: 12px;
     border-radius: 50%;
}

.red {background-color: #ff5f56;}
.yellow {background-color: #ffbd2e;} 
.green {background-color: #27c93f;}

/* Texto informativo da barra */

.terminal-title {
        color: #626279;
        font-size: 13px;
}

/* Estrutura interna da tabela */

.code-table {

 width: 100%;
 border-collapse: collapse;   
}

.code-table td {
    padding: 25px;
    vertical-align: top;
    line-height: 1.6;
    font-size: 15px;
}

/* Cores do código (Syntax Highlighting) */

.keyword { color: #00e5ff; }                          /* Magenta (#include, int, return) */
.type { color: #00e5ff; }                             /* Ciano (CombatSystem) */
.string { color: #ff007f; letter-spacing: 2px; }      /* Vermelho ("0.0.0.0:8080") */
.comment { color: #626279; }                          /* Cinza (Comentários) */
.number { color: #ff007f; }                           /* Número 0 */
.main { color: rgb(248, 250, 144)} 
.include { color: #ff007f; word-spacing: 6px;}
.getprofile { color: #00e5ff; letter-spacing: 2px; }
.aspas { letter-spacing: 4px; }
                 
      /* FIM DO PAINEL*
      
/*-----------------------------------------------------------------------------------------------
 SÓ UM TESTE COM IMAGEM NO SITE
  body {
  
  background-image: url('gamer.jpg');
  width: 100%;
  height: 100%; 
  background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url('gamer.jpg');
                                    (Esse código é pra deixar a imagem mais transparentE)         
} 
.logo {
   
      position: fixed;
  background-size: cover;        Força a imagem a cobrir tudo sem distorcer 
  background-position: center;   Centraliza a imagem na tela 
  background-attachment: fixed;
  background-repeat: no-repeat;
 
}

------------------------------------------------------------------------------------------------*/ 

.statistic {

    font-size: 10px;
    color: #ff007f;
    text-align: center;
   
}

.global-ranks {
     text-align: center;
    font-family: "Unbounded", sans-serif;
    font-size: 32px;
    vertical-align: top;
    line-height: 1.6;
    margin-bottom: 10px;

}
.table-rank .color-global,
.table-rank .color-number,
.table-rank .color-top 
{
  background-color: transparent !important;
  background: transparent !important;
}
/* ----------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------*/

.all-tables {
  display: flex;       /* Alinha os elementos filhos lado a lado */
  gap: 20px;          /* Cria um espaço de 20px entre o primeiro e o segundo card */
  width: 100%;
  margin-left: 0;
  padding-left: 0;         /* Faz o container ocupar toda a largura da tela */
  
}


/* ----------------------------------------------------------------------------------*/
                                    /*TABELA 1*/
.table-rank{
     position: relative;    /* Necessário para prender o detalhe em "L" no canto */
    background-color: #0f0f18;       
    border: 1px solid #1b1b28;  
    padding: 30px 35px;
    border-radius: 4px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.7);
    flex-direction: column;
    justify-content: space-between;
    flex: 1;                   /* Faz os três dividirem o espaço da tela igualmente */
    width: 100%;
    max-width: 800px;          /* Limita o tamanho máximo para não esticar infinito */
    box-sizing: border-box;    /* Garante que o padding não aumente o tamanho do quadro */
    border-radius: 4px;
    
}
 
.table-rank::before {

   content: "";
   position: absolute;
   top: -1px;
   left: -1px;
   width: 8px;        /* Tamanho da perna horizontal do L */
   height: 8px;    
   border-top: 2px solid #00F0FF;    /* Linha de cima do L */
   border-left: 2px solid #00F0FF;  /* Linha da esquerda do L */

}


.color-one{
   
    color: #00F0FF;
    font-family: "Geist Mono", monospace;
    font-size: 11px;   
    letter-spacing: 2px;             /* Espaçamento entre as letras */
    margin-bottom: 12px;                /* Controla a largura máxima do bloco */
     
  }
    
.color-two {
        
     font-family: "Unbounded", sans-serif; 
     font-size: 40px;
     font-weight:900;
     margin: 0 0 12px 0;
     text-shadow: 0 0 10px rgba(0, 229, 255, 0.6), 
               0 0 20px rgba(0, 229, 255, 0.3);
}
.color-three {
   display: block;  
    color: #8F90A6;
    font-family: "Geist Mono", monospace;
    font-size: 13px;
    font-weight: 400;
}    

/* ==========================================================================
   AGORA SEM ROLAGEM LATERAL (MOBILE FIRST / REGRAS DE TRAVA)
   ========================================================================== */

/* Impede que qualquer elemento "vaze" para as laterais da tela */
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

@media (max-width: 768px) {
    
    /* Ajustes do Corpo */
    body {
        padding: 0; 
    }

    /* Menu Superior */
    .menu-central {
        flex-direction: column;   
        gap: 15px;                
        text-align: center;
        padding: 10px 0;
        width: 100% !important;
    }
    .button-left{
      margin-right: 170px !important;       
    }

    #operations-online {
        margin-left: 0 !important; /* Remove o empurrão lateral */
        display: block;
        margin-top: 5px;
    }

    .top-buttom {
        word-spacing: 4px; /* Diminui o espaçamento para caber em telas estreitas */
        font-size: 11px;
        display: block;    /* Faz os links quebrarem linha se necessário */
    }

    /* Seção Principal (Hero) */
    .text-central {
        margin-top: 50px;          
        width: 100% !important;
        padding: 0;
    }

    h1 {
        
        font-size: 28px !important; /* Reduzido para garantir que nenhuma palavra suma na lateral */
        text-align: center;
        display: block;             /* Desativa o flex que impedia a quebra de linha natural */
        word-wrap: break-word;      /* Força a quebra de palavras longas se necessário */
    }   

    h2 {
        margin-left: 0 !important;  /* Remove os 500px de margem */
        font-size: 14px;
        text-align: center;
        width: 100% !important;
        max-width: 100% !important;
        display: block;             /* Altera o flexbox para bloco simples */
        padding: 0 5px;
    }

    /* Botões */
    .container-botoes {
        flex-direction: column;    
        gap: 12px;
        padding: 10px 10px;           /* Zera as laterais para não espremer o botão */
        width: 100% !important;
        background-color: transparent; /* Remove fundos rígidos que possam travar largura */
        
      }

    .btn {
        width: 100% !important;    /* Força o botão a se ajustar à tela do celular */
        box-sizing: border-box;
    }

    /* Janela do Terminal (Onde o código C++ fica) */
    .terminal-container {
        width: 100% !important;
        max-width: 100% !important;
        margin-top: 30px;
        box-sizing: border-box;
    }

    /* Tabela do Código */
    .code-table {
        display: block;
        width: 100% !important;
              
    }

    .code-table td {
        padding: 15px 10px;             
        font-size: 12px;           
        display: block;            /* Transforma a célula em bloco para respeitar o limite */
        width: 100% !important;
        overflow-x: auto;          /* Se uma linha de código for longa, a rolagem acontece SÓ dentro da caixinha preta */
        white-space: pre-wrap;     /* Força o código a quebrar linha e acompanhar o espaço disponível */
    }

    .statistic,.global-ranks{
        text-align: center;
        margin-right: 10px;
        

    }
    .all-tables{
        width: auto !important;
        flex-direction: column !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
       
    }
  }